@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');
*,
html,
body,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}


/* color */

:root {
    --primary-color: #00007a;
    --secondry-color: #D8D6E1;
    --third-color: #B0A08D;
}


/* font */

@font-face {
    font-family: forte;
    src: url(/assets/fonts/FORTE.TTF);
}

@font-face {
    font-family: elephant;
    src: url(/assets/fonts/ELEPHNTI.TTF);
}

@font-face {
    font-family: impact;
    src: url(/assets/fonts/Impacted.ttf);
}


/* headings */

h1 {
    font-size: 4rem;
    color: var(--primary-color);
    font-weight: 700;
}

h2 {
    font-size: 2.88rem;
    font-weight: 600;
    color: var(--primary-color);
    opacity: .5;
    position: relative;
    font-family: 'Playfair Display', serif;
    padding: 1rem;
}

h2::after {
    content: '';
    background-position: blue;
    background-color: blue;
    width: 5rem;
    margin-top: 1rem;
    height: .2rem;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    bottom: 0rem;
}

h3 {
    font-size: 2.24rem;
    font-weight: 800;
}

h4 {
    font-size: 1.76rem;
    color: var(--primary-color);
    font-weight: 600;
}

h5 {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    opacity: .98;
}

h6 {
    font-size: 1.4rem;
    font-weight: 400;
}

i {
    font-size: 1.9rem;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color);
}

button {
    font-size: 1.4rem;
    color: white;
    background-color: var(--third-color);
}


/* top bar */

.top-bar {
    padding: .3rem;
    background-color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.356);
}

.social {
    display: flex;
    justify-content: start;
    padding-left: 3rem;
    align-items: center;
}

.social>li>a>i {
    font-size: 1rem;
}

.contact {
    display: flex;
    justify-content: end;
    align-items: center;
}

.contact>li>a {
    font-size: 1rem;
    letter-spacing: .124rem;
}

.contact>li>a>i {
    font-size: 1rem;
    margin-right: 2rem;
}


/* menu */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.logo {
    width: 150px;
}

.logo img {
    width: 100%;
}

.logo>h1 {
    align-items: center;
    display: flex;
    height: 100%;
}

.menu>li>a {
    color: #000;
    font-size: 14px;
}

.menu img {
    height: 20px;
    object-fit: contain;
}

nav {
    position: relative;
    width: 100%;
    z-index: 5;
    box-shadow: 1px 1px 3px #00000066;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    background-color: white;
    transition: all .2s;
}

.scroll-on {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

.itme li a {
    position: relative;
}

.sub {
    position: fixed;
    background: white;
    width: 70%;
    left: 50%;
    transform: translate(-50%);
    /* text-align: center; */
    top: 5rem;
    height: auto;
    display: none;
}

.sub-data {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.sub-data>li>span {
    font-size: 1.2rem;
    font-weight: 700;
    /* margin-bottom: 1
    rem
    ; */
}

.sub-data>li>ul {
    margin-top: 1rem;
}

.sub-data>li>ul>li {
    margin: 1rem 0;
}

.category:hover .sub {
    display: block;
}

.item {
    display: flex;
    justify-content: end;
    height: 100%;
    align-items: center;
}

.item>li {
    padding-left: 5rem;
    position: relative;
}

.category:hover~.sub {
    background-color: red;
}

.login {
    font-size: 2.4rem;
}

.item>li>a::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 0%;
    background-color: black;
    height: .2rem;
    transition: all .2s ease-in-out;
}

.item>li>a:hover::after {
    width: 100%;
}

.item>li>a {
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600;
    float: left;
    position: relative;
    line-height: 5rem;
    opacity: .9;
}

.icon {
    position: absolute;
    top: 1.9rem;
    right: 1rem;
    font-size: 2.5rem;
}


/* collection carousel */

.carousel-collection {
    display: flex;
    flex-direction: column;
}

.carousel-collection h5 {
    color: #000;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: .2rem;
    opacity: .7;
}

.rotate:hover {
    transform: rotateY(180deg);
}


/* women mega menu */

.women-drop:hover .women-mega {
    display: block;
}

.women-mega {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 4rem;
    display: none;
}

.mega-content {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    min-width: 772px;
    background-color: white;
}

.mega-content>li {
    margin: 1rem;
}

.mega-content a {
    font-size: 1rem;
    color: black;
    font-weight: 300;
}

.mega-content h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.women-menu-image {
    padding: 4rem 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(http://frontend.big-skins.com/seiko/html/images/banners/banner-1.jpg);
}

.women-menu-image h1 {
    font-size: 3.6rem;
    color: white;
    font-weight: 900;
}

.women-menu-image h3 {
    color: white;
    opacity: .7;
    margin-top: 2rem;
}

.women-menu-image button {
    border: none;
    margin-top: 3rem;
    padding: 1rem 3rem;
}

.women-menu-image button:hover {
    background-color: #00007a;
}


/* shipping */

.icon2 {
    font-size: 4rem;
    opacity: .7;
    text-align: left;
}

.shipping h4 {
    letter-spacing: .1rem;
    opacity: .7;
    text-align: left;
}

.shipping p {
    letter-spacing: .1rem;
    text-align: left;
    opacity: .85;
}


/* banner section */

.banner {
    min-height: 420 px;
    background-position: right;
    background-size: cover;
    background-image: url(../assets/images/banner.png);
}

.banner h2 {
    font-family: impact;
    font-size: 4rem;
    color: var(--primary-color);
    line-height: 3rem;
}

.heading {
    min-height: 420px;
}

.banner-content {
    line-height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-content h1 {
    font-family: elephant;
    color: var(--primary-color);
    font-size: 6rem;
    letter-spacing: .5rem;
}

.banner-content h6 {
    line-height: 4.5rem;
    color: #01012c;
}

.banner-content button {
    border: none;
    color: white;
    margin-left: 3rem;
    width: 204px;
    text-align: center;
    background-color: #01012c;
    transition: all .3s ease-in-out;
}

.banner-content button:hover {
    background-color: white;
    color: #000;
}


/* watch */

.main-watch {
    background: #00007a;
    position: relative;
}

.main-watch::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(/assets/images/360.png);
    background-position: center;
    opacity: 0.1;
    background-size: cover;
}

.watch {
    padding: 5rem 1rem;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.watch>h6 {
    color: wheat;
    letter-spacing: 1rem;
}

.watch-text>h4 {
    font-family: 'Playfair Display', serif;
    font-style: 10rem;
    font-style: italic;
    color: white;
    font-size: 5rem;
}

.watch-text span {
    font-size: 2rem;
    font-style: italic;
}

.watch-text>h6 {
    color: white;
    opacity: .75;
    line-height: 2.5rem;
    font-family: 'Playfair Display', serif;
    text-align: left;
    /* letter-spacing: .12rem; */
    font-size: 1.2rem;
    font-weight: 300;
}

.image1 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* new year */

.main-year {
    max-height: 25rem;
    overflow: hidden;
}

:is(.new-year,
.new-year2,
.new-year3) {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/new-year/newYear.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playfair Display', serif;
    text-align: right;
    padding: 5rem 3rem;
    transition: all .5s ease-in-out;
}

.new-year3 {
    text-align: center;
    background-image: url(../assets/images/new-year/newyear2.jfif);
}

:is(.new-year,
.new-year2,
.new-year3):hover {
    transform: scale(1.09);
}

:is(.new-year,
.new-year3 .new-year2>h3,
h1,
button) {
    font-family: 'Playfair Display', serif;
}

:is(.new-year3,
.new-year2,
.new-year)>button {
    background-color: #c09678;
    border: none;
    margin-top: 1rem;
    padding: 1rem 3rem;
}

:is(.new-year3,
.new-year2,
.new-year)>button:hover {
    background-color: rgb(1, 1, 44);
}

.new-year2 {
    text-align: left;
    color: white;
    background-image: url(../assets/images/new-year/newYear3.png);
}

:is(.new-year3,
.new-year2)>h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    opacity: .99;
}

:is(.new-year3,
.new-year2)>h3 {
    color: white;
    opacity: .99;
    font-family: 'Playfair Display', serif;
}


/* compnay brands*/

.company {
    opacity: .4;
}

.brands {
    background: #e9ecef52;
}


/* banner3 */

.banner3 {
    text-align: center;
}


/* services */

.services {
    background-color: #f1f1f14d;
}

.services i {
    color: #D9C9B9;
}

.services h5 {
    color: #E2E2E2;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 3px;
}

.services h6 {
    color: rgba(255, 255, 255, 0.356);
    text-transform: capitalize;
    font-size: 12px;
}


/* footer */

.footer {
    background-color: rgb(1, 1, 44);
    color: var(--secondry-color);
}

.footer button {
    background-color: white;
    color: black;
    padding: 0.5rem 0.1rem;
    transition: all .2s ease-in-out;
}

.footer button:hover {
    background-color: wheat;
    color: #000;
}

.footer h1 {
    color: var(--secondry-color);
    opacity: .7;
}

.footer h4 {
    color: var(--secondry-color);
    opacity: .9;
    letter-spacing: .5rem;
}

.footer h6 {
    color: var(--secondry-color);
    opacity: .75;
    letter-spacing: .1rem;
    line-height: 2rem;
    font-size: 1.2rem;
}

.footer a {
    color: var(--secondry-color);
    font-size: 1.2rem;
    letter-spacing: .1rem;
    opacity: .75;
}


/* feature */

.main-feature {
    background: #e9ecef52;
    padding: 2rem 6rem 6rem;
}

.feature-image {
    overflow: hidden;
    position: relative;
}

.image {
    position: relative;
    transition: all .5s;
}

.image:hover {
    transform: scale(1.2);
}

.heart {
    position: absolute;
    left: 3rem;
    top: 3rem;
    font-size: 1.6rem;
    transition: all .1s;
}

.heart:hover {
    transform: scale(1.5);
}

.feature-image::after {
    content: 'Add to Cart';
    transition: all .5s;
    color: white;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0rem;
    overflow: hidden;
    opacity: 0;
    background-color: #01012c;
}

.feature-image:hover::after {
    height: 4rem;
    opacity: 1;
}

.star>i {
    color: #FF9529;
    font-size: 1.4rem;
}


/* slick nav */

#menu2 {
    display: none;
}

.slicknav_menu {
    display: none;
    box-shadow: 1px 1px 5px black;
}


/* logo mobile */

.mobile {
    display: none;
}

.shopping-bag {
    display: none;
}

@media only screen and ( max-width: 767px) {
    html {
        font-size: 8.5px;
    }
    .shopping-bag {
        display: block;
        font-size: 2.4rem;
    }
    .shipping h4 {
        letter-spacing: .1rem;
        opacity: .7;
        font-size: 1.4rem;
        text-align: center;
    }
    .shipping p {
        letter-spacing: .1rem;
        opacity: .85;
        text-align: center;
        font-size: 1rem;
    }
    .icon2 {
        font-size: 3rem;
    }
    .image1 {
        width: 50%;
    }
    .mobile {
        display: block;
        position: fixed;
        top: 1rem;
        width: 75px;
        left: 50%;
        transform: translate(-50%);
        z-index: 50000;
    }
    nav {
        position: sticky;
        top: 0;
    }
    .category {
        overflow: auto;
    }
    .sub {
        position: relative;
        width: 100%;
    }
    .sub-data {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
    .item {
        height: 100vh;
        background-color: #fcfcfc;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        position: absolute;
        left: -100%;
        transition: all 1s;
    }
    .item li {
        padding: 1.3rem 3rem;
        display: block;
        width: 100%;
    }
    .open {
        left: 0;
    }
    .open>li {
        border-bottom: 1px solid #00000030;
    }
    .banner {
        min-height: 420 px;
        background-position: 77%;
        background-size: cover;
        background-image: url(../assets/images/banner.png);
    }
    .overlay {
        background-color: white;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    /* slick nav */
    #menu2 {
        display: none;
    }
    .slicknav_nav {
        background-color: white;
    }
    .js .slicknav_menu {
        display: block;
    }
    .slicknav_menu {
        background: white;
        padding: 5px;
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9999;
    }
    .slicknav_nav .slicknav_arrow {
        float: right;
        color: #000;
    }
    .slicknav_nav .slicknav_txtnode {
        margin-bottom: 10px;
    }
    .slicknav_nav a {
        color: black;
        padding: 2rem;
        font-weight: 700;
        opacity: .7;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-size: 1.5rem;
    }
    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        padding: 1.5rem;
    }
    .slicknav_nav .slicknav_row:hover {
        color: black;
        background-color: white;
    }
    .slicknav_nav .slicknav_txtnode {
        color: black;
    }
    .slicknav_nav a:hover {
        background-color: white;
    }
    .slicknav_menu .slicknav_icon {
        float: none;
    }
    .slicknav_menu .slicknav_icon-bar {
        background-color: #000;
        margin: 0.29rem 0;
        width: 2rem;
        height: 0.2rem;
    }
    .slicknav_btn {
        background-color: white;
        float: left;
    }
    /* shopping bag */
    .shopping-bag {
        /* color: black; */
        position: fixed;
        float: right;
        /* display: flex; */
        z-index: 12000;
        top: 1rem;
        right: 1rem;
    }
    i.fas.fa-shopping-bag {
        color: black;
        z-index: 70000;
        font-size: 3rem;
        opacity: .7;
    }
}

@media only screen and ( max-width: 540px) {
    .shipping h4 {
        letter-spacing: .1rem;
        opacity: .7;
        font-size: 1.4rem;
    }
    .shipping p {
        letter-spacing: .1rem;
        opacity: .85;
        font-size: 1rem;
    }
    .icon2 {
        font-size: 3rem;
    }
}